header img{
    height: 250px;
    width: 520px;
}
section,header,article,nav{
    display: block;
}
*{
    padding: 0;
    margin:0;
}
body{
    margin: 1em 10%;
    background-image: url(../images/background.jpg);
    background-attachment: fixed;
    background-position: top right;
    background-position: top left;
    background-repeat: repeat-x;
    max-width: 80em;
}

header nav{
    background-image: url(../images/nav.png);
    background-position: bottom left;
    background-repeat: repeat-x;
    border-width: .1em;
    border-style:solid;
    border-bottom-width: 0;
    border-top-width: 0;
    padding-left: 10%;
}
header nav ul{
    width: 100%;
    overflow: hidden;
    border-left-width: .1em;
    border-left-style: solid;
}
header nav li{
    display: inline;
}
header nav li a{
    display: block;
    float: left;
    padding: .5em 3em;
    border-right: .1em solid;
}
article{
    border-width: .1em;
    border-style: solid;
    border-top-width: 0;
    padding: 2em 10%;
    line-height: 1.8em;
}
article img{
    border-width: .1em;
    border-style: solid;
    outline-width: .1em;
    outline-style: solid;
}

#about header{
    background-image: url(../images/lineup.jpg);
}
#photos header{
    background-image: url(../images/bass.jpg);
}
#live header{
    background-image: url(../images/bassist.jpg);
}
#contact header{
    background-image: url(../images/drummer.jpg);
}
#home header{
    background-image: url(../images/guitarist.jpg); /*待定错误，各图片加载不出来*/
} 
header{
    /* background-image: url(../images/guitarist.jpg);   */
    background-repeat: no-repeat;
    background-position: bottom right;
    border-width: 0.1em;
    border-style: solid;
    border-bottom-width: 0;
    background-size: 450px 300px;
}
#slideshow{
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
}
#preview{
    position: absolute;
    border-width: 0;
    outline-width: 0;
}

#imagegallery li{
    display: inline;
}
#palceholder{
    height: 300px;
    width: 400px;
}
td{
    padding: .5em 3em;
}
th{
    color: #edc;
    background-color: #455;
}
tr td{
    color: #223;
    background-color: #eb6; 

}

.highlight td{
    color: #223;
    background-color: #cba; /*前面不加tr*/
    font-weight: bold;
}
.odd td{
    color: #223;
    background-color:#ec8;  /*前面不加tr*/
}

dl{
    overflow: hidden;
}
dt{
    float: left;
}
dd{
    float: left;
}
/* .aaa td{
    color: #233;
    background-color: red;
} */
label{
    display: block;
} 
 fieldset{
    border: 0;
}